@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head><title>Amortization</title></head>
<body>
    <h2>Loan Amortization Schedule -2025- written in Dotnet</h2>
    <form method="post" action="/Loan/Generate">
        <label>Principal:</label><br />
        <input name="principal" type="number" step="0.01" required /><br /><br />

        <label>Interest Rate (annual):</label><br />
        <input name="rate" type="number" step="0.01" required /><br /><br />

        <label>Tenure (months):</label><br />
        <input name="months" type="number" required /><br /><br />

        <input type="submit" value="Generate Excel" />
    </form>
    <br />
    <a href="/Loan/Foreclosure">Go to Foreclosure Calculator</a>
</body>
</html>
